/* 
font-family: 'Cabin', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Raleway', sans-serif;
*/

div {
    display: block;
}

body {
    font-family: 'Cabin', sans-serif;
    margin: 0 10%; 
} 

#img30 {
    width: 30%;
}
#img50 {
    width: 70%;
}

#img80 {
    width: 60%;
}


h2 {
    display: block;
    font-size: 1.5em;
    margin-block-start: 0.83em;
    margin-block-end: 0.83em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}

.container {
    border: 2px solid #a2a2a6;
    padding: 10px;
    margin: 10px auto;
}

.font-panel {
    width: 45%;
    display: inline-block;
}

p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

.source-code-raleway {
    font-family: 'Raleway', sans-serif;
}

.source-code-cabin {
    font-family: 'Cabin', sans-serif;
}

.font-label {
    font-size: 20px;
    text-decoration: underline;
}

.regular {
    font-style: normal;
}

.bold {
    font-weight: 700;
}

.italic {
    font-style: italic;
}

.caps {
    text-transform: uppercase;
}


.text-panel h1 {
    font-weight: 700;
    font-size: 32px;
    font-family: 'Raleway', sans-serif;
}

.text-panel h2 {
    font-weight: 500;
    font-size: 18px;
    font-family: 'Raleway', sans-serif;
}

.text-panel p {
    font-weight: 400;
    font-size: 15px;
    font-family: 'Cabin', sans-serif;
}
ol {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
}

li {
    display: list-item;
    text-align: -webkit-match-parent;
}

.descrip {
    font-size: 19px;  
}

